body {
	background-image: url(/assets/background-pattern-desktop.svg);
	background-color: hsl(276, 100%, 97%);
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Work Sans", sans-serif;
	text-transform: capitalize;
	margin: 17rem;
	padding: 5rem;
	text-align: justify;
	height: 45vh;
}

section.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background-color: white;
	padding: 2rem;
	border-radius: 1rem;
	box-sizing: border-box;
}

span {
	text-transform: capitalize;
	font-weight: 700;
}

.lead {
	font-size: 16px;
	font-weight: 350;
	color: hsl(292, 16%, 49%);
}

div.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 2rem;
}

.h1 {
	padding-left: 1rem;
	padding-top: 0.4rem;
	font-weight: 700;
	font-size: 2.5rem;
}

.accordion-button.collapsed::after {
	background-image: url(/assets/icon-plus.svg);
	background-size: 30px;
	padding-left: 2rem;
	padding-bottom: 2rem;
	margin-left: auto;
}

.accordion-button:not(.collapsed)::after {
	background-image: url(/assets/icon-minus.svg);
	background-size: 30px;
	padding-left: 2rem;
	padding-bottom: 2rem;
	margin-left: auto;
}

/* I used this psudo class (:not()) instead of (:focus) for better experiences. Hope to be better!*/

.accordion-button:not(.collapsed) {
	color: rgb(173, 40, 235);
}

.accordion-button.collapsed:hover {
	color: rgb(173, 40, 235);
}

@media (min-width: 375px) and (max-width: 1200px) {
	body {
		background-image: url(/assets/background-pattern-mobile.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: top center;
		margin: 10rem 2rem;
		height: max-content;
		padding: 0;
	}
}